#cases_of_success{
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#cases_trophy{
   width: 500px;
   height: auto;
}

#cases.section-subtitle{
    font-size: 3rem;
}

#cases-content{
    width: 50%;
}

#cases{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.case{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    }

.case-image{
    max-width: 10%;
}

@media screen and (max-width: 1170px){
    #cases_of_success{
        flex-direction: column;
    }

    #cases_of_success .section-subtitle{
        text-align: center;
        font-size: 2.5rem;
    }

    #cases_of_success .section-title{
        text-align: center;
    }

    #cases_trophy{
        display: none;
    }

    #cases-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px){

    #cases_of_success .section-subtitle{
        font-size: 2rem;
    }

    .case{
        flex-direction: column;
        text-align: center;
    }

    #cases-content{
        width: 100%;
    }
}
