#customers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.customers-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin-top: 32px;
}

.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1) ;
    position: relative;
    overflow: hidden;
}


.customer img{
    padding: 25%;
    max-width: 512px;
    min-width: 400px;
    align-items: center;
}

@media screen and (max-width: 1170px){
    .customers-content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .customer{
        width: calc(50% - 12px);
    }
    
    #menu .section-subtitle{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .customer{
        width: 100%;
    }

    #menu .section-subtitle{
        text-align: center;
    }
}

